name: Dimabot

on:
     push:
          branches: ["main"]
     pull_request:
          branches: ["main"]

jobs:
     build:
          runs-on: ubuntu-latest

          steps:
               - uses: actions/checkout@v4
               - name: Set up Python 3.12.6 and dependencies
                 uses: actions/setup-python@v5
                 with:
                      python-version: "3.12.6"
               - name: Install dependencies
                 run: |
                      python -m pip install --upgrade pip
                      pip install -r requirements.txt

     deploy:
          needs: build
          runs-on: ubuntu-latest
          if: github.ref == 'refs/heads/main'
          steps:
               - uses: actions/checkout@v4
               - name: Deploy to VPS
                 uses: appleboy/ssh-action@v1.0.3
                 with:
                      host: ${{ secrets.HOST }}
                      username: ${{ secrets.USER }}
                      key: ${{ secrets.SSH_PRIVATE_KEY }}
                      script: |
                           cd /root/python-projects/DimaBot
                           git pull origin main
                           pip install -r requirements.txt --upgrade
                           sudo systemctl restart dimabot.service
